extends layout

append stylesheets
  link(rel='stylesheet', href='/stylesheets/index.css')

block content
      div(ng-controller="indexController")
        .modal
            .modal__inner
              .modal__header
                h2 Welcome, please login.
              .modal__footer
                a(href='/auth/github')
                  i.fa.fa-github(aria-hidden='true')
                  | Login with Github

      append javascripts
        script(src="/javascripts/controller/indexController.js")
        script(src="/socket.io/socket.io.js")